/*  RESPONSIVIDADE  */

@media(min-width:1441px){
    header{
        width: 3000px;
    }
}


@media screen and (max-width: 900px) {
  .main-section-aside {
    display: none !important;
  }
  .main-section-first {
    width: 100% !important;
    margin: 0px !important;
    padding: 20px;
  }
  .main-section-first-header {
    width: 100% !important;
  }
  .botao {
    font-size: xx-small;
  }
}